﻿<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/white"
    android:orientation="vertical">
    <ScrollView
        style="@style/MainScrollView">
        <LinearLayout
            style="@style/ScrollViewLinearLayout">
            <ImageView
                android:id="@+id/imageView1"
                style="@style/ActivityHeaderImage"
                android:src="@drawable/createaccount3fingerprint" />
            <TextView
                android:layout_marginTop="10dp"
                android:text="@string/secure_your_account"
                style="@style/Title"/>
            <TextView
                android:id="@+id/description"
                android:layout_marginTop="16dp"
                android:layout_marginBottom="16dp"
                android:text="description"
                style="@style/Description"/>
            <LinearLayout
                android:layout_width="match_parent"
                android:gravity="center_vertical"
                android:layout_height="wrap_content">
                <TextView
                    android:id="@+id/switchTitle"
                    android:text="TextView"
                    android:layout_width="0dp"
                    android:layout_weight="1"
                    android:layout_marginRight="5dp"
                    style="@style/Description" />
                <Switch
                    android:id="@+id/biometricSwitch"
                    style="@style/IosSwitch"/>
            </LinearLayout>
        </LinearLayout>
    </ScrollView>
    <Button
        android:id="@+id/nextButton"
        android:text="Next"
        style="@style/FooterButton"/>
</LinearLayout>